---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Layout.astro';
import LinkCard from '@components/LinkCard.astro';

const posts = await getCollection('finds', ({ data }) => {
  return import.meta.env.PROD ? !data.public : false;
});

const sortedPosts = posts.sort(
  (a, b) => b.data.publicationDate.valueOf() - a.data.publicationDate.valueOf()
);
---

<Layout 
  title="TIL"
  description="Read the latest interesting things I learned on the interwebs."
>
  <div>
    <h1>Today I learned...</h1>
    
    <div>
      {sortedPosts.map(post => (
        <LinkCard
          title={post.data.title}
          link={post.data.link}
          description={post.data.description}
          type={post.data.type}
          publicationDate={post.data.publicationDate}
        />
      ))}
    </div>
  </div>
</Layout>
